{% extends "base.html" %}

{% block content %}

<div id="about">
    <h1>About Page</h1>
    <p class="headerP">Pokemon Roulette is a web based app that allows you to spin for a randomly selected Pokemon. 
        You can then choose to save that Pokemon to your profile. This app does NOT have any battling capabilities. 
        The purpose of this app is to have fun by collecting the Pokemon you want and see if you can collect them all. 
        This application draws information using the popular API: PokeAPI. With over 1100 available Pokemon from the PokeAPI, 
        there are plenty of Pokemon to collect. There is a high chance you will get a different Pokemon every time, 
        but this also means there is a very low chance of getting your desired Pokemon. Part of the fun is seeing if you get lucky enough to get the Pokemon you desire.
        However if you are not able to obtain your desired Pokemon, there is also a trading/auctioning system that can make it easier to obtain the specific Pokemon you desire. 
        You can obtain these Pokemon by using the in app currency.</p>
</div>

{% endblock %}